/* DEFAULT */
body {
    all: unset;
    background-color: rgb(2,0,48);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    line-height: 1.5;
}


/* QUERY WINDOW */
form {
    background-color: rgb(242, 171, 143);
    border-radius: 1rem;
    padding: 3rem 5rem;
    box-shadow: 0 0 2rem #191919;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.form-control {
    background-color: transparent;
    border-color: rgba(2,0,48,.25);
    text-align: center;
}

.form-control::placeholder {
    color: rgb(2,0,48,.25);
    font-weight: 300;
    text-align: center;
}

.form-control:focus {
    background-color: transparent;
    border-color: rgba(2,0,48,.5);
    box-shadow: none;
}

.radio {
    margin-left: 1rem; /* compensate for the default 'margin-right: 1rem' applied to '.form-check-inline' radio buttons */
    padding: 1rem 0;
}

.radio-btn {
    color: rgba(2,0,48,0.5);
    --bs-btn-font-size: .8rem;
    --bs-btn-active-bg: rgba(2,0,48,1);
    --bs-btn-hover-color: rgb(65, 63, 112);
    --bs-btn-border-radius: 100%;
}

.btn-dark {
    background-color: rgba(2,0,48,1);
    border-color: rgba(2,0,48,.5);
    color: rgb(224, 224, 224);
}

.btn-dark:hover {
    background-color: rgb(65, 63, 112);
    border-color: rgb(65, 63, 112);
    color:  rgb(224, 224, 224);
}

.btn-check:checked + .btn {
    color: rgb(224, 224, 224);
    --bs-btn-border-width: 0;
}


/* WEATHER APP */

